@charset "UTF-8";


header {
    background-image: linear-gradient(to top, #43c94ee1, #3ab144e0); 
    padding: 0em 2em;
    margin: 10px;
    box-shadow: 3px 3px 4px #2f9437e1;
    border-radius: 0.6em;
  
}

#title {
    padding: 0.4em;
    margin: 0em;
    font-family: 'Times New Roman', Times, serif;
    color: #104AFA;
    font-weight: normal;
    
}

nav {
    padding: 0.4em 0.6em;
}

header > nav > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: #104AFA;
    padding: 0.4em 2em;
}


body {
    background-color: rgb(133, 131, 131);
    margin: 0px;
    padding: 0.4em 0.8em;
}


main {
    display: inline-block;
    margin: 0em 1em;
    padding: 0em 1em;
}

section {
    display: inline-block;
    background-color: #43c94ee1;    
    height: 22em;
    width: 22em;
    padding: 1em;
    margin: 2em 1em;
    border-radius: 0.8em;
    box-shadow: 3px 3px 4px #298030c4;
    
}

article {
    height: 6em;
    width: 16em;
    font-size: 16px;
    text-align: center; 
    text-decoration: none; 
    padding: 0.8em 2.8em;
           
}


main > section > article > h2{
    font-size: 26px;
    color: white;
       
}

main > section > article > p{
    font-size: 20px;
    color: white;
}




footer{
    background-color: rgba(124, 120, 120, 0.925);
    color: rgb(221, 216, 216);
    text-align: center;
    padding: 1px;
    margin: 0px;
    border-radius: 0.6em;
}

footer > p {
    font-family: 'Times New Roman', Times, serif;
    
}

footer > p> em {
    font-weight: bold;
}

